/* Layout and Body */
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(250, 245, 245);
  margin: 0px;
  padding: 0px;
  max-width: 800px;
}

/* Header */
header {
  background-color: rgb(53, 58, 68);
  padding: 1px;
  height: 60px;
  text-align: center;
  margin-bottom: 20px;
}

/* Tablet and mobile*/
@media screen and (min-width: 800px) {
  body {
      margin-left: auto;
      margin-right: auto;
  }
}

.mainNav {
  color: white;
  list-style-type: none;
  text-transform: capitalize;
  font-size: large;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.mainNav a {
  color: white;
  text-decoration: none;
}

.mainNav a:hover {
  color: rgb(231, 102, 101);
}

.mainNav li {
  margin-right: 20px;
}

/* Generic Styles */
section {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgb(233, 230, 230);
  border-width: 1px;
}

section img {
  max-width: 760px;
}

footer {
  margin-top: 40px;
}

/* Resume */
.resumePDF {
  height: 600px;
  border-radius: 4px;
  padding: 5px;
}

/* Home Background*/
.homeBackground {
  background-color: black;
  background-image: url("../images/eve.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  height: 300px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px -20px 60px 5px black inset;
}
/* Profile 
Consists of a picture and name text.
*/
.profile {
  color: white;
  text-align: left;
  text-transform: capitalize;
  text-shadow: 1px 1px black;
  font-size: x-large;
  margin-left: 0px;
  margin-top: 70px;
}
.profile img {
  height: 200px;
  border-radius: 50%;
  box-shadow: rgb(110, 108, 108) 0px 0px 10px;
}
/* Content */
h1 {
  color: rgb(53, 60, 64);
}
h2 {
  color: rgb(231, 81, 41);
}

p {
  color: rgb(115, 125, 132);
  font-size: larger;
  line-height: 1.5;
}

/* Footer */
.separator {
  background-color: rgb(248, 91, 96);
  height: 5px;
}
.footerIcons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  font-size: xx-large;
  margin-top: 10px;
}
.footerIcons a {
  color: gray;
}
.footerIcons li {
  margin-right: 20px;
}
/* Change background on mouse-over */
.footerIcons a:hover {
  color: rgb(0, 91, 177);
}

