/* Footer */
footer {
  margin-top: 20px;
}

.separator {
  background-color: rgb(248, 91, 96);
  height: 5px;
}

.footerIcons {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  list-style-type: none;
  margin-top: 10px;
  padding-left: 0px;
}

.footerIcons a {
  color: gray;
}

.footerIcons li {
  margin-right: 20px;
}

.footerIcons a:hover {
  color: rgb(0, 91, 177);
  transition: color 0.2s;
}
